<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Dropbox_AccessToken" value=""/>
    <add key="Dropbox_ClientId" value=""/>
    <add key="Dropbox_Secret" value=""/>
  </appSettings>
</configuration>