<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sbs20.Syncotron.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sbs20.Syncotron.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Sbs20.Syncotron.Properties.Settings>
            <setting name="Dropbox_AccessToken" serializeAs="String">
                <value />
            </setting>
        </Sbs20.Syncotron.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Sbs20.Syncotron.Properties.Settings>
            <setting name="Dropbox_ClientId" serializeAs="String">
                <value>THE_CLIENT_ID</value>
            </setting>
            <setting name="Dropbox_Secret" serializeAs="String">
                <value>THE_SECRET</value>
            </setting>
        </Sbs20.Syncotron.Properties.Settings>
    </applicationSettings>
</configuration>